@import "colors";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.toolbar__controls {
  .button-round {
    color: $gray-dark;
    background-color: $gray-light;

    &:hover {
      background-color: $gray-medium;
    }
  }
}

.grid-container {
  @include responsive-grid(
    1,
    (
      $tablet-min-width: 2,
    )
  );
  gap: 20px;
  padding: 20px;
}

.container {
  width: 90%;
}

app-scenes,
app-scene-preview {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

app-scenes {
  // max-height: 24rem;
  // max-width: 35%;
}

app-scene-preview {
  // max-height: 24rem;
  // max-width: 24rem;
  // max-width: 55%;
}
