<mat-toolbar class="mat-elevation-z3"
  ><h2>WAFFLLE</h2>
  <div class="spacer"></div>
  <div class="toolbar__controls">
    <button mat-fab extended>Export</button>
  </div></mat-toolbar
>

<div class="grid-container flex-between">
  <app-scenes (onScenePlay)="handleScenePlay($event)" (onScenePause)="handleScenePause($event)"></app-scenes>
  <app-scene-preview #scenePreview></app-scene-preview>
</div>

<app-timeline (onTimelinePlay)="handleTimelinePlay($event)" (onTimelinePause)="handleTimelinePause($event)"
></app-timeline>
