@import "colors";

.toolbar__controls {
  .button-round {
    color: $gray-dark;
    background-color: $gray-light;

    &:hover {
      background-color: $gray-medium;
    }
  }
}

app-scenes,
app-scene-preview {
  height: 100%;
  width: 100%;
}

app-scenes {
  max-height: 24rem;
  max-width: 24rem;
}
