<mat-toolbar class="mat-elevation-z3"
  ><h2>WAFFLLE</h2>
  <div class="spacer"></div>
  <div class="toolbar__controls">
    <button mat-fab extended>Home</button>
  </div></mat-toolbar
>

<div class="container flex-between">
  <app-scenes
    (onScenePlay)="handleScenePlay($event)"
    (onScenePause)="handleScenePause($event)"
  ></app-scenes>
  <app-scene-preview
    #scenePreview
    [scenes]="scenesToPreview"
  ></app-scene-preview>
</div>

<app-timeline
  (onTimelinePlay)="handleTimelinePlay($event)"
  (onTimelinePause)="handleTimelinePause($event)"
></app-timeline>
