// Spacing Utilities
@include spacing-utilities($spacing-map);

.spacer {
  flex: 1 1 auto;
}

// Text Alignment Utilities
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

// Display Utilities
.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

// Visibility Utilities
.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

// Flex Utilities
.flex-center {
  @include flex-center;
}

// Overflow Utilities
.overflow-hidden {
  overflow: hidden !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

// Background Utilities
.bg-primary {
  background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.bg-accent {
  background-color: $accent-color !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

// Text Color Utilities
.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.text-accent {
  color: $accent-color !important;
}

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}
