@import "mixins";
@import "variables";

.cursor {
  width: 3px;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 2;
  cursor: grab;

  .cursor__marker {
    position: relative;
    left: -3px;
    height: 9px;
    width: 9px;
    background-color: red;
    transform: rotate(45deg);
  }
}
