@import "mixins";
@import "variables";

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

  .timeline__content {
    position: relative;
  }
}
