<div class="timeline">
  <app-timeline-controls
    [timelineTracks]="timelineTracks"
    (onTimelinePlay)="handleTimelinePlay()"
    (onTimelinePause)="handleTimelinePause()"
    (onTimelineReset)="handleTimelineReset()"
  ></app-timeline-controls>

  <div class="timeline__content">
    @if (timelineTracks.length > 0) {
    <app-timeline-ruler [timelineTracks]="timelineTracks"></app-timeline-ruler>
    <app-timeline-cursor [timelineWidth]="timelineWidth"></app-timeline-cursor>
    }
    <div #timeline class="timeline__content__tracks" cdkDropListGroup>
      @for (timelineTrack of timelineTracks; track timelineTrack.id) {
      <app-timeline-track
        [track]="timelineTrack"
        [timelineWidth]="timelineWidth"
        (onTrackUpdated)="handleTrackUpdated($event)"
      ></app-timeline-track>
      } @empty {
      <div
        id="timeline-empty"
        class="empty-state"
        cdkDropList
        (cdkDropListDropped)="sceneDropped($event)"
      >
        <h5>No tracks were added yet</h5>
      </div>
      }
    </div>
    <!-- } @else {
    <div
      class="empty-state"
      cdkDropList
      #timelineEmpty="cdkDropList"
      (cdkDropListDropped)="sceneDropped($event)"
    >
      No tracks were added yet
    </div>
    } -->
  </div>
</div>
