@import "mixins";
@import "variables";

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

  .timeline__content {
    position: relative;
    height: 6rem;

    .timeline__content__tracks {
      height: 100%;
      width: 100%;

      .empty-state {
        @include flex-center;
        height: 100%;
        width: 100%;
        margin: auto;
        color: $gray-medium;
      }
    }
  }
}
