<div class="track">
  <div
    id="timeline-track"
    class="track__content"
    cdkDropList
    [cdkDropListData]="track.scenes"
    (cdkDropListDropped)="sceneDropped($event)"
  >
    @for (scene of track.scenes; let i = $index; track i) {
    <app-timeline-track-scene
      [scene]="scene"
      [timelineWidth]="timelineWidth"
      (removeTrackScene)="handleRemoveTrackScene($event)"
    ></app-timeline-track-scene>
    } @empty {
    <div class="empty-state">
      <h5>Empty track</h5>
    </div>
    }
  </div>
</div>
