<div
  class="track"
  cdkDropList
  [cdkDropListData]="track.scenes"
  (cdkDropListDropped)="sceneDropped($event)"
>
  <div class="track__content">
    @for (scene of track.scenes; let i = $index; track i) {
    <div
      class="track__item"
      cdkDrag
      [style]="{
        'left.px': calculateTrackSceneLeftOffset(i),
        'width.px': calculateTrackSceneWidth(scene)
      }"
    >
      {{ scene.durationInS }}
    </div>

    } @empty {
    <div>Empty tracks</div>
    }
  </div>
</div>
