<div
  class="track"
  cdkDropList
  #timelineTrack="cdkDropList"
  [cdkDropListData]="track"
  (cdkDropListDropped)="sceneDropped($event)"
>
  <div class="track__header">
    <h4>{{ track.title }}</h4>
  </div>
  <div class="track__content">
    @for (source of track.sources; let i = $index; track i) {
    <div
      class="track__item"
      cdkDrag
      [style]="{
        'left.px': calculateTrackSourceLeftOffset(i),
        'width.px': calculateTrackSourceWidth(source)
      }"
    >
      {{ source.durationInS }}
    </div>
    } @empty {
    <div>Empty tracks</div>
    }
  </div>
</div>
