<div class="scene">
  <div class="scene__content">
    <div class="scene__title">
      <h5>{{ scene.title }}</h5>
    </div>
    <div class="scene__description">
      <h6>{{ scene.description }}</h6>
    </div>
    <div class="scene__controls">
      <mat-icon>play_arrow</mat-icon>
    </div>
  </div>
</div>

<!-- <mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Australian Shepherd</mat-card-title>
    <mat-card-subtitle>Herding group</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>Learn More</button>
  </mat-card-actions>
</mat-card> -->
