@import "mixins";
@import "variables";

.scene {
  @include flex-between;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #343434;
  border-radius: 10px;

  .scene__content {
    // cursor: move;

    .scene__title,
    .scene__description {
      margin: 0;
    }

    .scene__title {
      font-weight: $font-weight-base;
    }
    .scene__description {
      font-weight: $font-weight-light;
    }
  }

  .scene__controls {
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
