<div class="scene" cdkDrag [cdkDragData]="scene">
  <div class="scene__content">
    <div class="scene__content__drag__handler" cdkDragHandle>
      <mat-icon>drag_indicator</mat-icon>
    </div>
    <div>
      <h4 class="scene__title">{{ scene.title }}</h4>
      <h5 class="scene__description">Duration: {{ scene.durationInS }}s</h5>
    </div>
  </div>
  <div class="scene__controls">
    @if (!isPlaying) {
    <button mat-icon-button (click)="onPlay()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    } @else {
    <button mat-icon-button (click)="onPause()">
      <mat-icon>pause</mat-icon>
    </button>
    }
  </div>
</div>
