<div class="timeline__controls">
  <div class="timeline__controls_time">
    <h5>Current Time: {{ currentTime.toFixed(3) }}</h5>
  </div>

  <div class="timeline__controls_main">
    @if (!isPlaying) {
    <button mat-icon-button (click)="play()" [disabled]="controlsDisabled()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    } @else {
    <button mat-icon-button (click)="pause()" [disabled]="controlsDisabled()">
      <mat-icon>pause</mat-icon>
    </button>
    }
  </div>

  <div class="timeline__controls_secondary">
    <button mat-icon-button [disabled]="controlsDisabled()">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-icon-button [disabled]="controlsDisabled()">
      <mat-icon>zoom_out</mat-icon>
    </button>
  </div>
</div>
